.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 17, 17);
}
.titulo {
  color: azure;
}
.items {
  list-style-type: none;
  display: flex;

  margin-left: 20rem;
}
.items li {
  margin-left: 15px;
  list-style-type: none;
}
