.mensaje-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: rgba(238, 48, 41, 0.87);
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border-radius: 2rem;
}

.mensaje {
  display: flex;
  justify-items: center;
  color: black;

  margin: 50px;
}
